#loginForm {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: content-box;
    padding: 35px;
    width: 280px;
    border-radius: 10px;
}

#loginButton {
    width: 100%;
    align-self: center;
}